#gvcom {
	background-color: $c-red;
	color: $c-white;
}

.content-gvcom {
	display: grid;
	grid-template-columns: 200px minmax(0, 1fr);
	gap: 30px;
	align-items: start;
	align-content: center;
	width: calc(100% - 60px);
	max-width: 1210px;
	min-height: 100dvh;
	margin: 0 auto;
	padding: 60px 0;

	@media (width <= $size-md), (height <= $size-sm) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 12px;
		width: calc(100% - 30px);
		height: auto;
		min-height: 100dvh;
		padding: 30px 0 60px 0;
	}

}

.gvcom__logo {
	width: 200px;
	max-width: 200px;
	margin-top: -65px;

	@media (width <= $size-md), (height <= $size-sm) {
		width: 120px;
		max-width: 120px;
		align-content: center;
		margin-top: 0;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

}

.gvcom__content {
	width: 100%;
	min-width: 0;
	font-weight: 400;
	text-wrap: pretty;
	line-height: 1.4;

	@media (width <= $size-md), (height <= $size-sm) {
		text-align: center;
	}

	@media (width <= $size-sm), (height <= $size-sm) {
		line-height: 1.2;
	}

	h2 {
		margin: 0 0 18px;
		font: 50px $font-family-big;
		color: $c-white;

		@media (width <= $size-md), (height <= $size-sm) {
			margin: 0 0 -4px;
			font-size: 40px;
		}

	}

}

.gvcom__link {
	position: relative;
	top: 4px;
	text-decoration: none;
	color: $c-red;
	background-color: $c-white;
	padding: 4px 10px;
	border-radius: 3px;
	font: 1.6rem / 1 $font-family-big;
	letter-spacing: normal;
	margin: 0 3px;

	@media (width <= $size-sm), (height <= $size-sm) {
		display: block;
		max-width: 120px;
		margin: auto;
	}

	&:hover {
		background-color: $c-gray;
		color: $c-white;
	}

}