#gvlogo {
	position: relative;
	background: linear-gradient(to right, $c-gray 50%, $c-white 50%);


	@media (width <= $size-sm) {
		background: $c-white;
	}

}

.content-gvlogo {
	min-height: 100dvh;
	height: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto 0.8fr 1.2fr;
	gap: 0;
	grid-template-areas:
    "gvlogo__logo gvlogo__logo"
    "gvlogo__tl gvlogo__tr"
    "gvlogo__bl gvlogo__br";

	@media (width <= $size-sm) {
		display: block;
		min-height: auto;
	}

}

.gvlogo__logo {
	grid-area: gvlogo__logo;
	display:  flex;
	justify-content: center;
	align-items: start;

	@media (width <= $size-sm) {
		margin-left: -21%;
	}

	#logo-lottie {
		width: 100%;
		max-width: 766px;
		height: auto;
		max-height: 250px !important;
		margin: 0 auto;
		cursor: url("../img/acursor.png"), auto;
		aspect-ratio: 766 / 250;
	}

}

.gvlogo__tl {
	grid-area: gvlogo__tl;
	background-color: $c-gray;
	color: $c-white;

	@media (width <= $size-sm) {
		margin-top: 0;
		text-align: center;
	}

	@media (height <= $size-sm) {
		padding-left: 10% !important;
	}

}

.gvlogo__tr {
	grid-area: gvlogo__tr;
	background-color: $c-white;
	color: $c-gray;

	@media (width <= $size-sm) {
		text-align: center;
	}

	@media (height <= $size-sm) {
		padding-right: 10% !important;
	}

}

.gvlogo__bl {
	grid-area: gvlogo__bl;
	background-color: $c-white;
	color: $c-gray;
}

.gvlogo__br {
	grid-area: gvlogo__br;
	background-color: $c-red;
	color: $c-white;
}

.gvlogo__tl,
.gvlogo__tr {
	padding: 20px 20%;

	@media (width <= $size-sm) {
		padding: 30px 15px;
	}

	h2 {
		margin: 0 auto;
		font-size: 1rem;
		line-height: 1rem;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: normal;
		color: $c-red;
	}

	p {
		margin: 0.5rem auto;
		line-height: 1.4;
	}

}

.gvlogo__tl {
	font-weight: 300;
}

.gvlogo__tr {
	font-weight: 500;
}

.gvlogo__bl,
.gvlogo__br {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;

	img {
		width: 100%;
		max-width: 600px;
		height: auto;
	}

}

.gvlogo__bl {

	@media (width <= $size-sm) {
		border-top: dotted 1px transparentize($c-gray-light, 0.5);
	}

}

.gvlogo-biglogo	{
	display: block;
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: auto;
	aspect-ratio: 1 / 1;

	@media (width <= $size-xl) {
		width: 250px;
	}

	@media (width <= $size-lg) {
		width: 180px;
	}

	@media (width <= $size-sm) {
		display: none;
	}

	img {
		width: 100%;
		height: auto;
		border-radius: 50%;
		box-shadow: 0 20px 50px rgba(60, 63, 66, 0.5);
	}

}








