#gvpages{
	background-color: #D2B579;
	min-height: 100dvh;
	padding: 60px 0 60px 30px;

	@media (max-width: $size-md) {
		padding: 1px 0;
	}

}

.block-gvpage{
	display: grid;
	grid-template-columns: 130px minmax(0, 1fr);
	gap: 30px;
	align-items: start;
	align-content: center;
	width: calc(100% - 60px);
	max-width: 1200px;
	margin: 60px auto;

	@media (max-width: $size-md) {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 0;
		width: calc(100% - 30px);
		margin: 40px auto;
	}

}

.gvpage__numb {
	width: 130px;
	max-width: 130px;
	margin-top: -5px;
	text-align: center;
	color: $c-white;
	font: 200 110px / 1 $font-family;

	@media (max-width: $size-md) {
		width: auto;
		max-width: none;
		text-align: left;
		margin-top: 0;
		font-size: 80px;
	}

}

.gvpage__content {
	width: 100%;
	min-width: 0;
	font-weight: 400;
	text-wrap: pretty;
	line-height: 1.4;

	h2 {
		margin: 0;
		font: 50px / 1 $font-family-big;

		@media (max-width: $size-md) {
			margin: 0 0 -4px;
			font-size: 42px;
			text-align: center;
		}

	}

	p {
		max-width: 510px;

		@media (max-width: $size-md) {
			max-width: none;
			text-align: center;
		}

	}

}

.gvpage__screenshots {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: flex-start;

	@media (max-width: $size-md) {
		justify-content: center;
	}

	> a {
		display: block;
		width: 250px;
		max-width: 250px;
		min-width: 150px;
		background: $c-white;
		border: solid 1px #C7A358;
		aspect-ratio: 250 / 300;
		overflow: hidden;

		@media (max-width: $size-md) {
			width: 48%;
		}

		img {
			width: 100%;
			height: auto;
			transform: scale(1);
			transition: transform 0.5s cubic-bezier(0.2, 0.65, 0.3, 1);
		}

		&:hover {
			border-color: $c-white;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

			img {
				transform: scale(1.03);
			}

		}

	}

}

.gvpage__links {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 60px);
	max-width: 1200px;
	margin: 60px auto 120px auto;
	border-top: solid 1px #C7A358;
	padding-top: 60px;

	@media (max-width: $size-md) {
		width: calc(100% - 30px);
		margin: 30px auto 60px auto;
		padding-top: 30px;
	}

	> a {
		display: flex;
		gap: 10px;
		min-width: 167px;
		align-items: center;
		justify-content: center;
		background-color: $c-red;
		color: $c-white;
		font: 30px / 1 $font-family-big;
		padding: 10px 14px;
		border-radius: 4px;

		@media (max-width: $size-sm) {
			font-size: 22px;
		}

		&:hover {
			background-color: $c-gray;
		}

		span {
			font-size: 18px;
		}

	}

}