#gvsocialmedia {
	position: relative;
	background-color: $c-gray-lighter;
}

.content-gvsocialmedia {
	min-height: 100dvh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, min-content) 1fr;
	gap: 0;
	grid-template-areas:
    "hdr-content hdr-content"
    "gvsocialmedia__tl gvsocialmedia__tr"
    "gvsocialmedia__c gvsocialmedia__c";

	@media (width <= $size-sm) {
		min-height: auto;
		grid-template-columns: 1fr;
		grid-template-areas:
    "hdr-content"
    "gvsocialmedia__tl"
    "gvsocialmedia__tr"
    "gvsocialmedia__c";
	}

	@media (max-width: 1024px), (hover: none) and (pointer: coarse) {
		min-height: auto;
	}

}

.gvsocialmedia__tl {
	grid-area: gvsocialmedia__tl;
	min-height: 120px;

	@media (width <= $size-sm) {
		min-height: auto;
	}

	.td--problem {
		padding-bottom: 0;
	}
}

.gvsocialmedia__tr {
	grid-area: gvsocialmedia__tr;
	min-height: 120px;

	@media (width <= $size-sm) {
		min-height: auto;
	}

	.td--solution {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.gvsocialmedia__c {
	grid-area: gvsocialmedia__c;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: start;
	background: url("../img/sm-bk.webp") 50% top no-repeat;
	background-size: 764px auto;

	@media (max-width: 1024px), (hover: none) and (pointer: coarse) {
		min-height: 704px;
	}

	@media (max-width: $size-sm), (max-height: $size-sm) {
		display: block;
		background-size: 600px auto;
		min-height: 557px;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.socialmedia-animation {
	display: flex;
	justify-content: center;
	gap: 0 40px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	min-height: 400px;
}

.sa {
	margin-top: 54px;
	display: none;

	@media (max-width: $size-sm), (max-height: $size-sm) {
		margin-top: 42px;
	}

	img {
		width: 268px;
		height: auto;
		border-radius: 6px;

		@media (max-width: $size-sm), (max-height: $size-sm) {
			width: 210px;
		}
	}

	&.sa--active {
		display: block !important;
		padding-left: 60px;
		padding-right: 60px;
		z-index: 10;
		transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}

	&.sa--l {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		opacity: 0.6;
		z-index: 5;
	}

	&.sa--ll {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		opacity: 0.4;
		z-index: 3;
	}

	&.sa--lll {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		opacity: 0.2;
		z-index: 1;
	}

}



@media (max-width: $size-sm), (max-height: $size-sm) {

	.tscroll {
		position: absolute;
		z-index: 99;
		top: 38%;
		height: 35px;
		width: 87px;
		opacity: 0.66;

		&.tscroll--right {
			right: 5px;
			background-image: url("../img/i-tscroll-r.svg");
			background-size: cover;
		}

		&.tscroll--left {
			left: 5px;
			background-image: url("../img/i-tscroll-l.svg");
			background-size: cover;
		}

	}

}

