#gvschemes {
	position: relative;
	background-color: $c-white;
}

.content-gvschemes {
	min-height: 100svh;

	@media (height <= $size-sm) {
		min-height: auto;
	}

}

.gvschemes__c {
	display: flex;
	justify-content: space-between;
	align-items: start;

	@media (width <= $size-sm) {
		display: block;
	}

	.taskdesc {
		padding: 0;

		&.td--problem {
			flex: 1;
			padding: 10px 10%;
			width: clamp(200px, 40vw, 600px);

			@media (width <= $size-md), (height <= $size-sm) {
				width: 50vw;
				padding: 20px 30px 0 30px;
			}

			@media (width <= $size-sm) {
				margin-left: 0;
				width: auto;
				padding: 20px 15px 0 15px;
			}

		}

		&.td--solution {
			flex: 1;
			padding: 10px 10%;
			width: clamp(200px, 30vw, 600px);

			@media (width <= $size-md), (height <= $size-sm) {
				width: 50vw;
				padding: 20px 30px 0 30px;
			}

			@media (width <= $size-sm) {
				margin-right: 0;
				width: auto;
				padding: 10px 15px 5px 15px;
			}

		}

	}

}

.gvschemes__s {
	display: grid;
	grid-template-columns: repeat(8, minmax(80px, 140px));
	grid-template-rows: auto;
	gap: 10px;
	justify-content: center;
	align-content: center;
	max-height: min-content;
	padding: 5px 15px 30px 15px;

	@media (width <= $size-md) {
		grid-template-columns: repeat(6, minmax(80px, 140px));

		.xl--hidden {
			display: none;
		}

	}

	@media (width <= $size-sm) {
		grid-template-columns: repeat(4, minmax(80px, 140px));
		padding: 15px;

		.xl--hidden {
			display: block;
		}

	}

	@media (height <= $size-sm) {
		padding: 15px;
	}

	> div {
		width: 100%;
		aspect-ratio: 1;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

	}

}


















