$size-xs:            375px;
$size-sm:            576px;
$size-md:            768px;
$size-lg:            992px;
$size-xl:            1200px;
$size-xxl:           1400px;

$color-bk:           #FFFFFF;
$color-main:         #666677;

$font-family:        'Nunito', Arial, Helvetica, sans-serif;
$font-family-big:    'League Gothic', 'Arial Narrow', Helvetica, sans-serif;
$font-size-base:     16px;


